@import "fonts.css";

:root {
    /* Colors */
    --color-green: #9EB378;
    --color-green-lite: #E2EFCA;
    --color-red: #FF6B4D;
    --color-red-lite: #FF7C7C;
    --color-red-dark: #E65C3E;
    --color-yellow: #FFEDB7;
    --color-yellow-lite: #FBF1E8;
    --color-dark: #444444;
    --color-lavanda: #CABBE9;
    --color-lavanda-lite: rgba(202, 187, 233, 0.2);

    /* Fonts */
    --font-montserrat: Montserrat;
    --font-nunito: Nunito;

    /* Header */
    --header-bg: var(--color-green);

    /* Footer */
    --footer-bg: var(--color-green);
}

/* Base */
html, body {
    font-family: var(--font-nunito), sans-serif;
    font-size: 16px;

    @media screen and (min-width: 992px){
        font-size: 24px;
    }
}
h1, h2, h3, h4, h5, h6 {
   font-family: var(--font-montserrat), sans-serif;
}

/* Header */
.header {
    background-color: var(--header-bg);
    padding-top: 10px;
    padding-bottom: 10px;
    height: 60px;

    @media screen and (min-width: 992px){
        height: 90px;
    }

    .logo {
        .logo__link {
            text-decoration: none;
            line-height: 0;
            font-size: 0;
        }
        .logo__img {
            max-width: 30px;
        }
    }

    .nav {
        .nav__btn {
            border: none;
            background-color: transparent;
            padding: 0;
            margin: 0;
            line-height: 0;
            font-size: 0;
        }
    }
}

/* Main */
.main {
    /*min-height: 80vh;*/
}

/* Footer */
.footer {
    background-color: var(--header-bg);
}
