@import "fonts.css";

:root {
    /* Colors */
    --color-green: #9EB378;
    --color-green-lite: #E2EFCA;
    --color-green-a09: rgba(158, 179, 120, 0.9);
    --color-red: #FF6B4D;
    --color-red-lite: #FF7C7C;
    --color-red-dark: #E65C3E;
    --color-yellow: #FFEDB7;
    --color-yellow-lite: #FBF1E8;
    --color-yellow-lite2: #FFF5EF;
    --color-yellow-lite3: #FDF6EC;
    --color-dark: #444444;
    --color-lavanda: #CABBE9;
    --color-lavanda-lite: rgba(202, 187, 233, 0.2);

    /* Fonts */
    --font-montserrat: Montserrat;
    --font-nunito: Nunito;

    /* Header */
    --header-bg: var(--color-green);

    /* Drawer */
    --drawer-bg: var(--color-green-a09);

    /* Footer */
    --footer-bg: var(--color-green);
    --footer-text-color: white;
    --footer-font: var(--font-montserrat);

    /* Home */
    --home-bg: var(--color-yellow-lite3);

    /* Home About */
    --about-bg: var(--color-green-lite);
}

/* Base */
html, body {
    font-family: var(--font-nunito), sans-serif;
    font-size: 16px;

    @media screen and (min-width: 992px){
        font-size: 24px;
    }
}
h1, h2, h3, h4, h5, h6 {
   font-family: var(--font-montserrat), sans-serif;
}

/* Header */
.header {
    background-color: var(--header-bg);
    /*padding-top: 10px;*/
    /*padding-bottom: 10px;*/
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    .container, .row {
        height: 60px;
    }

    .logo {
        .logo__link {
            text-decoration: none;
            line-height: 0;
            font-size: 0;

            @media screen and (min-width: 992px){
                line-height: 0;
                font-size: 0;
            }
        }
        .logo__img {
            max-width: 30px;
        }
    }

    .nav {
        .nav__btn {
            border: none;
            background-color: transparent;
            padding: 0;
            margin: 0;
            line-height: 0;
            font-size: 0;
        }
    }
    .header__nav-list {
        margin: 0;
        padding: 0;
        list-style: none;
        width: 100%;
    }
    .header__nav-link {

    }

    .text-row {
        font-family: var(--footer-font), sans-serif;
        color: var(--footer-text-color);
        font-weight: 600;
        text-decoration: none;
        font-size: 18px;
        line-height: 22px;
    }
}

/* Main */
.main {
    /*min-height: 80vh;*/
    padding-top: 60px;
}

/* Footer */
.footer {
    background-color: var(--header-bg);
    padding: 10px 0 14px;

    @media screen and (min-width: 992px) {
        padding: 30px 0;
    }

    .text-row {
        font-family: var(--footer-font), sans-serif;
        color: var(--footer-text-color);
        font-size: 12px;
        font-weight: 700;
        line-height: 18px;
        text-decoration: none;

        @media screen and (min-width: 992px) {
            font-size: 20px;
            line-height: 26px;
        }
    }

    .logo__img {
        max-width: 45px;
        margin-bottom: 34px;
    }

    .social__list {
        @media screen and (min-width: 992px) {
            justify-content: initial!important;
        }
    }

    .nav__list {
        margin: 0;
        padding: 0;
        list-style: none;
        line-height: 1;
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 5px;
    }

    .nav__item {
        line-height: 1;
    }

    .nav__link {
        &:hover {
            text-decoration: underline;
        }
    }

    .row {
        .col {
            &:last-child {
                text-align: center;

                @media screen and (min-width: 992px) {
                    text-align: initial;

                    .text-row {
                        padding-left: 40px;
                    }
                }
            }
        }
    }
}

/* Social */
.social {
    .social__list {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        width: 100%;
        gap: 10px;
        justify-content: center;
    }
    .social__item {
        overflow: hidden;
        border-radius: 50%;
    }
    .social__link {
        line-height: 0;

        @media screen and (max-width: 992px) {
            font-size: 30px!important;
        }
    }
    .social__icon {
        width: 1em;
        height: 1em;

        &:hover {
            opacity: .7;
        }
    }
}

/* Button base */
.btn {
    border: none;
    height: 43px;
    width: 280px;
    border-radius: 50px;
    background-color: var(--color-dark);
    color: white;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-nunito), sans-serif;
    font-weight: 600;
    font-size: 24px;
    padding: 0 20px;

    &.btn--accent {
        background-color: var(--color-red-lite);

        &:hover {
           background-color: var(--color-red);
        }

        &:active {
           background-color: var(--color-red-dark);
        }
    }
}

/* Burger icon */
.burger {
    position: relative;
    width: 34px;
    height: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
    transition: all .4s;

    .burger__inner, &::before, &::after {
        display: block;
        width: 100%;
        height: 3px;
        border-radius: 6px;
        background-color: white;
        transition: all .4s;
    }

    &::before, &::after {
        content: '';
        width: 28px;
    }

    &:hover {
        gap: 6px;
        transition: all .4s;

        &::before, &::after {
            width: 100%;
            transition: all .4s;
        }
    }

    &.burger--active {
        &::before, &::after {
            width: 34px;
            position: absolute;
            top: calc(50% - 2px);
            transform: rotate(45deg);
            transition: all .4s;
        }
        .burger__inner {
           position: absolute;
            top: calc(50% - 2px);
            transform: rotate(-45deg);
            transition: all .4s;
        }
    }
}

.drawer {
    background-color: var(--drawer-bg);
    position: fixed;
    top: 60px;
    bottom: 0;
    left: -100%;
    right: 100%;
    transition: left .3s, right .3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;

    &.drawer--active {
        left: 0;
        right: 0;
        transition: left .3s, right .3s;
    }

    &::before {
        content: '';
        display: block;
        height: 4px;
        background-color: var(--color-green-lite);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }

    .drawer__list {
        padding: 0;
        margin: 0;
        list-style: none;
        max-width: 400px;
    }

    .drawer__link {
        color: white;
        text-decoration: none;
        font-size: 20px;
        line-height: 36px;
        font-weight: 600;
        font-family: var(--font-montserrat), sans-serif;
    }
}

.page-title {
    font-family: var(--font-montserrat), sans-serif;
    font-weight: 600;
    font-size: 26px;
    line-height: 34px;
    margin-bottom: 16px;
    margin-top: 26px;

    @media screen and(min-width: 992px) {
        font-size: 36px;
        line-height: 46px;
        margin-bottom: 30px;
        margin-top: 50px;
    }
}

.page-text {
    font-family: var(--font-montserrat), sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;

    @media screen and (min-width: 992px) {
        font-size: 18px;
        line-height: normal;
    }
}