.home {
    background-color: var(--home-bg);

    .billboard {
        .container {
            background-repeat: no-repeat;
            background-position: bottom center;
            background-size: 330px;
            padding-top: 50px;
            padding-bottom: 360px;

            @media screen and (min-width: 992px) {
                background-position: right bottom;
                background-size: 50%;
                padding-top: 140px;
                padding-bottom: 160px;
            }

            @media screen and (min-width: 1200px) {
                background-size: 600px;
            }
        }
    }
    .billboard__content {
        @media screen and (min-width: 992px) {
            width: 730px;
        }
    }
    .billboard__content-subtitle {
        font-size: 16px;
        line-height: 1.4;
        text-align: center;
        margin-bottom: 20px;
        font-family: var(--font-montserrat), sans-serif;
        color: var(--color-dark);

        @media screen and (min-width: 992px) {
            font-size: 32px;
            line-height: 42px;
            text-align: initial;
        }
    }
    .billboard__content-title {
        font-size: 26px;
        line-height: 1.4;
        text-align: center;
        margin-bottom: 26px;
        font-weight: 700;
        font-family: var(--font-montserrat), sans-serif;
        color: var(--color-dark);

        @media screen and (min-width: 992px) {
            font-size: 48px;
            line-height: 58px;
            text-align: initial;
            margin-bottom: 40px;
        }
    }
    .billboard__content-benefits {
        padding: 0;
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 4px;
        width: 320px;
        margin: 0 auto 30px;

        @media screen and (min-width: 992px) {
            width: 630px;
            margin: 0 0 40px;
        }
    }
    .billboard__content-benefit {
        display: block;
        color: var(--color-green);
        font-size: 12px;
        line-height: 22px;
        font-family: var(--font-montserrat), sans-serif;
        background-image: url("../img/underline.png");
        background-repeat: no-repeat;
        background-position: bottom left;
        background-size: 100%;

        @media screen and (min-width: 992px) {
            font-size: 24px;
            line-height: 32px;
        }
    }
    .billboard__content-actions {
        text-align: center;

        @media screen and (min-width: 992px) {
            text-align: initial;
        }
    }
}

.about {
    padding-top: 30px;

    @media screen and (max-width: 576px) {
        padding-left: 10px;
        padding-right: 10px;
    }

    .about__bg {
        background-color: var(--about-bg);
        border-radius: 20px;
        padding: 20px;
    }

    .about__photo-block {
        padding-bottom: 10px;
        font-size: 0;
        line-height: 0;
        text-align: center;

        @media screen and (min-width: 992px) {
            text-align: initial;
            padding-bottom: 0;
        }
    }

    .about__photo {
        max-width: 100%;
        border-radius: 10px;
    }

    .about__content {
        max-height: initial;
        transition: max-height .3s;

        &.hide-details {
            max-height: 220px;
            overflow: hidden;
            transition: max-height .3s;

            @media screen and (min-width: 992px) {
                max-height: 220px;
            }
        }
    }

    .about__action {
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;

        @media screen and (min-width: 992px) {
            text-align: initial;
        }
    }
}

.advantages {
    @media screen and (max-width: 576px) {
        padding-left: 10px;
        padding-right: 10px;
    }

    .advantages__wrap {
        border: 2px solid rgba(202, 187, 233, 0.8);
        border-radius: 20px;
        padding-top: 20px;

        @media screen and (min-width: 992px) {
            padding-bottom: 10px;
        }
    }
    .advantages__photo-block {
        padding-bottom: 10px;
        font-size: 0;
        line-height: 0;
        text-align: center;

        @media screen and (min-width: 992px) {
            text-align: initial;
            padding-bottom: 0;
        }
    }
    .advantages__photo {
        max-width: 100%;
        border-radius: 10px;
    }

    .advantages__article-title {
        font-weight: 600;
        font-size: 18px;
        color: var(--color-dark);
        margin-bottom: 10px;
        border: 2px solid transparent;
        position: relative;
        display: inline-block;

        @media screen and (min-width: 992px) {
            font-size: 22px;
        }

        &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -4px; /* отступ от текста */
            width: 100%;
            height: 3px;
            background: linear-gradient(90deg, #CABBE9 0%, rgba(0, 0, 0, 0.2) 60%, rgba(0, 0, 0, 0) 100%);
        }
    }
    .advantages__article-text {
        font-weight: 500;
        font-size: 16px;
        color: var(--color-dark);
        margin-bottom: 10px;

        @media screen and (min-width: 992px) {
            font-size: 18px;
        }
    }
}

.news {
    @media screen and (max-width: 576px) {
        padding-left: 10px;
        padding-right: 10px;
    }

    .news__row {
        @media screen and (min-width: 992px) {
            display: flex;
            gap: 16px;
        }
    }
    .news__content {
        margin-bottom: 10px;
        padding: 10px;
        background-color: #FFEDB7;
        border-radius: 10px;
    }
    .news__content-head {
        margin-bottom: 10px;
        display: flex;
        gap: 20px;
        justify-content: space-between;
        align-items: center;
    }
    .news__content-title {
        font-weight: 700;
        font-size: 18px;
        line-height: 24px;
        color: var(--color-dark);
    }
    .news__icon-block {
        padding-bottom: 10px;
        font-size: 0;
        line-height: 0;
        text-align: center;
        max-width: 70px;


        @media screen and (min-width: 992px) {
            text-align: initial;
            padding-bottom: 0;
        }
    }
    .news__icon {
        max-width: 100%;
        border-radius: 10px;
    }
    .news__content-text {
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: var(--color-dark);
    }
    .news__content-actions {
        text-align: center;
        padding-top: 10px;
    }
}

.photo {
    .swiper {
        /*padding: 30px 0;*/
       @media screen and (min-width: 1200px) {
           padding: 0 50px;
       }
    }
    .swiper-wrapper {
       @media screen and (min-width: 1200px) {
           padding: 30px 0;
       }
    }
    .swiper-slide {
        border-radius: 20px;
        overflow: hidden;
    }
    .photo__img {
        max-width: 100%;
       transition: transform .5s;
    }
    .swiper-button-prev, .swiper-button-next {
        border: 2px solid var(--color-dark);
        border-radius: 50%;

        .swiper-navigation-icon {
            width: 50%;
            height: 50%;
            path {
                fill: var(--color-dark);
            }
        }

        &:hover {
            border-color: var(--color-red-lite);
           .swiper-navigation-icon {
                path {
                    fill: var(--color-red-lite);
                }
            }
        }
    }
    .swiper-slide {
        &.swiper-slide-active {
           @media screen and (min-width: 1200px) {
               overflow: initial;

               .photo__img {
                   transform: scale(1.2);
                   border-radius: 20px;
                   transition: transform .5s;
                }
            }
        }
    }
}