<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col d-none d-lg-block">1111</div>
            <div class="col d-none d-lg-block">2222</div>
            <div class="col">
                <div class="text-row">г. Москва, ул. Московcкая, д. 32б</div>
                <div class="text-row">Пн-Пт с 8:00 до 20:00</div>
                <div class="text-row">+7(999)999 99 99</div>
                <div class="text-row mb-2">MoskowDS@gmail.ru</div>
                {% include 'parts/social.html' with bg='#FFEDB7' text='#9EB378' size=40 %}
            </div>
        </div>
    </div>
</footer>