{% load static %}
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col col-lg-3 d-none d-lg-block">
                <div class="logo">
                    <a href="{% url 'home:details' %}" class="logo__link">
                        <img src="{% static '/img/logo.png' %}" alt="logo" class="logo__img">
                    </a>
                </div>
                {% include 'parts/social.html' with bg='#FFEDB7' text='#9EB378' size=40 %}
            </div>
            <div class="col col-lg-5 d-none d-lg-block">2222</div>
            <div class="col col-lg-4">
                <div class="text-row">г. Москва, ул. Московcкая, д. 32б</div>
                <div class="text-row">Пн-Пт с 8:00 до 20:00</div>
                <div class="text-row">+7(999)999 99 99</div>
                <div class="text-row mb-2">MoskowDS@gmail.ru</div>
                <div class="d-lg-none">
                    {% include 'parts/social.html' with bg='#FFEDB7' text='#9EB378' size=30 %}
                </div>
            </div>
        </div>
    </div>
</footer>